body{
    background: #521655;
    font-family: 'Akaya Telivigala', cursive;
}
.header_div{
    background: #d6a1d5;
    color: white;
}
.header_div p{
    font-size: 12px;
    font-weight: bold;
    font-family: 'Righteous', cursive;
    letter-spacing: 2px;
}
.main_div button{
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    font-weight: bolder;
    width: 130px;
    color: aliceblue;
}
.footer{
    color:aliceblue ;
        font-size: 18px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0px;
    font-family: 'Righteous', cursive;
    line-height: 3;
    text-shadow: 5px 5px 5px rgb(151,149,149);
}
h4{
    font-size: 25px;
    color: aliceblue;
    font-family: 'Righteous', cursive;  
;
}
 
h2 {
    font-family: 'Righteous', cursive;
}

#hover {
    height :4pc;
    width: 8pc;
    color: aliceblue;
    font-family: 'Righteous', cursive;
    background-color: #250726;
    border: 3px solid #d6a1d5;
    border-radius: 2px;
}

#hover:hover{
    height :5pc;
    width: 10pc;
    color:#250726;
    font-family: 'Righteous', cursive;
    background-color:#d6a1d5;
    border: 3px solid aliceblue;
    border-radius: 2px;
}

#hover {
    transition-duration: 0.4s;
}